doctype 5
h1 Welcome to Jde

script(src='/js/pinOut.js')
button.btn(onclick="pinToggle(1)") LIGHT1
button.btn(onclick="pinToggle(2)") LIGHT2
button.btn(onclick="pinToggle(3)") LIGHT3
P
	| This is straight html
	| Or JS??
P.
